
  
  .cards {
    display: flex;
  }
  
  .card {
    margin: 10px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .card .image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card .content {
    padding: 20px 30px;
  }
  
  .card.is-loading .image,
  .card.is-loading h2,
  .card.is-loading p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: shine 1.5s linear infinite;
  }
  
  .card.is-loading .image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .card.is-loading h2 {
    height: 30px;
  }
  
  .card.is-loading p {
    height: 70px;
  }
  
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  