/* Küçük ekranlar için */
@media (max-width: 600px) {
    .sider-menu img {
      display: block;
    }
  
    .sider-menu *:not(img) {
      display: none;
    }
  }
  
  /* Büyük ekranlar için */
  @media (min-width: 601px) {
    .sider-menu img {
      display: block;
    }
  
    .sider-menu * {
      display: block;
    }
  }
  